@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* background-image: url('/backgroundImage.png'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: "100vh";
    --background: rgb(37, 37, 37);
    --foreground: #ffffff;
  }
}

.backgroundImage {
  /* background-image: url('/backgroundImage.png'); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: "100vh";
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transform: scale(0.8);
  transform-origin: 0 0; 
  width: 125%; 
  
}

.main {
  text-align: center;
  font-size: 100px;
  display: flex;
  flex-direction: column;
}

.Test {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height:100vh;
  padding-top: 10vh;
  z-index: 1;
}

.Test h1 {
  margin-top: -40vh; 
}

.qaziComponent {
  margin-top: -52vh; 
}


.ParagraphStuff {
  font-size: 20px;
  margin-left: 20px;
  line-height: 40px;
}

.BGWaves {
  z-index: -1;
}

.column {
  flex: 33.3%;
  padding: 5px;
}

.ProjectsTitleCard {
  padding-left: 10%;
  padding-right:10%;
  display: flex;
  align-items: center; 
  gap: 20px;
  padding-top: 5%;
}

.ProjectTitles {
  font-size: 45px;
  text-align: left; 
  margin-bottom: 5px;
}

.tilted-card-text {
  font-weight: 900;
  text-transform: capitalize;
  box-shadow: 0 5px 30px #06060659;
  border-radius: 15px;
  color: #fff;
  background: #0006;
  padding: .5rem 1em;
  letter-spacing: -.5px;
  margin: 2em;
}

.buttons {
  display: flex; 
  gap: 20px; 
  padding: 10px; 
  font-size: 24px;
}

.buttonNormal {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5%;
}

.buttonWrapper {
  display: flex;
}

.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */

.ProjectTitlesWrapper {
  display: flex;
  flex-direction: column; 
  align-items: flex-start; 
  gap: 10px;
  justify-content: center;
}

.button-alignment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-left: 20px;
  margin-bottom:10px;
}

.GenericTitle {
  text-align:center;
  font-size: 45px;
  padding: 0.5%;
}

.scrollForMore {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  width: 150px;
  height:auto;
}

@media (max-width: 1275px) {
  .scrollForMore {
    display: none;
  }
}

@media (max-height: 895px) {
  .scrollForMore {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

.aboutMeText {
  position: absolute;
  top: 45vh;
  left: 50%;
  line-height: 50px;
  transform: translateX(-50%);
  font-size: 40px;
  background: rgba(255, 255, 255, 0.01); 
  backdrop-filter: blur(5px);
  box-shadow: 0 0 8px 8px rgb(81, 81, 81) ;
  padding:1.5%;
}

.SkillsSections {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 0; 
  justify-content: center;
}
